<div class="container">

  <div class="alert alert-danger" role="alert" *ngIf="isError">
    Houve um erro ao listar filmes
  </div>

  <div class="grid-container"  *ngIf="!isError">

    <div class="card" style="width: 18rem;" *ngFor="let filme of filmes">
      <img src="https://image.tmdb.org/t/p/w500{{filme.poster_path}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{filme.title}}</h5>
        <p class="card-text">{{filme.overview}}</p>
        <a href="{{filme.overview}}" class="btn btn-primary">Saber mais</a>
      </div>
    </div>

  </div>
</div>